rsa:
    private-key: classpath:certs/private.pem
    public-key: classpath:certs/public.pem

server:
    port: 8080
    shutdown: "graceful"

spring:
    lifecycle:
        timeout-per-shutdown-phase: 5s
