<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false" scanPeriod="60 seconds">
    <!--conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" /-->

    <!--Levels are ordered: TRACE < DEBUG < INFO < WARN < ERROR -->
    <!--property name="pattern" value="%date{yyyy-MM-dd HH:mm:ss.SSS} - %-5level[%thread] - %logger{0}[%method] - %message%n" /-->
    <!--property name="pattern" value="%date{HH:mm:ss.SSS} - %clr(%.-1level){yellow}[%-12thread] - %logger{0} - %message%n" /-->
    <property name="pattern" value="%date{HH:mm:ss.SSS} - %5level - [%25.-25thread] - %replace(%-40.-40logger{0}){' ', '.'} - %message%n" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <!--immediateFlush>true</immediateFlush-->
        <encoder>
            <pattern>${pattern}</pattern>
            <outputPatternAsHeader>false</outputPatternAsHeader>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
    </appender>

    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <!--immediateFlush>true</immediateFlush-->
        <encoder>
            <pattern>${pattern}</pattern>
            <outputPatternAsHeader>false</outputPatternAsHeader>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="STDERR" />
    </root>

</configuration>
