# https://github.com/gitattributes/gitattributes/blob/master/Java.gitattributes
#
# Normalize line endings to LF.
*                       text eol=lf

# Unix shell scripts must have LF.
*.{sh,[sS][hH]}         text eol=lf
gradlew                 text eol=lf
mvnw                    text eol=lf

# Windows batch files must have CRLF.
*.{bat,[bB][aA][tT]}    text eol=crlf
*.{cmd,[cC][mM][dD]}    text eol=crlf

# Exclude files from exporting
#.gitkeep       export-ignore

# Ensure that line endings for multipart files in spring-web are not modified.
*.multipart             -text

# binary is a macro for '-text -diff'
*.aif                   binary
*.au                    binary
*.flac                  binary
*.gif                   binary
*.jar                   binary
*.jks                   binary
*.jpeg                  binary
*.jpg                   binary
*.m4a                   binary
*.m4b                   binary
*.mp3                   binary
*.p12                   binary
*.pgg                   binary
*.png                   binary
*.svg                   text
*.wav                   binary
*.wma                   binary
#*.zip                 binary
*.zip filter=lfs diff=lfs merge=lfs -text


# Refresh:
# rm -rf *
# git reset –hard
#
# or:
# git ls-files -z | xargs -0 rm
# git reset –hard
