<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="de" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: headFragment}"/>

<body>
<div th:replace="~{fragments/header :: headerMenuFragment}"/>

<div id="content_container">
    <div id="content">
        <h2>Create a Person:</h2>

        <label sec:authorize="!hasRole('ROLE_ADMIN')" style="color: red; font-style: italic;">You are NOT ADMIN !</label>

        <!-- sec:authorize="hasRole('ROLE_ADMIN')" -->
        <form action="/web/person/personAdd" method="POST" th:object="${personForm}">
            First Name: <input th:field="*{firstName}" type="text"/>
            <br/>
            Last Name: <input th:field="*{lastName}" type="text"/>
            <br/>
            <input type="submit" value="Create"/>
        </form>

        <br>
        <div style="color: red; font-style: italic;" th:if="${errorMessage}" th:utext="${errorMessage}">...</div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footerFragment}"/>
</body>
</html>
