<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="de"
	xmlns:th="http://www.thymeleaf.org"> 

<head th:replace="/fragments/head :: headFragment" />

<body>
	<div th:replace="/fragments/header :: headerMenuFragment" />

	<div id="content_container">
		<div id="content">
			<h2>Login:</h2>

			<form action="/authenticate" method="POST">
				<table>
					<tr><td th:utext="#{login.user}" /><td><input type="text" placeholder="Username" name="username" /></td></tr>
					<tr><td th:utext="#{login.password}"/><td><input type="password" placeholder="Password" name="password" /></td></tr>
					<tr><td>Remember Me ?</td><td><input type="checkbox" id="remember-me" name="remember-me" /></td></tr>
					<tr><td colspan="2" align="right"><input type="submit" value="Login" /></td></tr>
				</table>
			</form>

			<br>
			<div th:if="${param.error}" style="color: red;">Invalid username and password.</div>
			<div th:if="${errorMessage}" th:utext="${errorMessage}" style="color: red; font-style: italic;">...</div>
		</div>
	</div>

	<div th:replace="/fragments/footer :: footerFragment" />
</body>
</html>