<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="spring-web [shutdown]" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="de.freese.spring.web.Shutdown" />
    <module name="spring-web" />
    <option name="WORKING_DIRECTORY" value="$ModuleFileDir$" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="de.freese.spring.web.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>