# ===================================================================
# COMMON SPRING BOOT PROPERTIES
# https://docs.spring.io/spring-boot/docs/current/reference/html/appendix-application-properties.html
# ===================================================================

info:
    app:
        description: ${project_description}
        name: ${project_artifactId}
        version: ${project_version}

spring:
    cloud:
        compatibility-verifier:
            enabled: false

management:
    endpoints:
        access:
            default: NONE
        web:
            exposure:
                include: "*"
    endpoint:
        health:
            access: READ_ONLY
            show-details: ALWAYS
        prometheus:
            access: READ_ONLY
    prometheus:
        metrics:
            export:
                enabled: true

server:
    port: 8080
    shutdown: graceful
