<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="de" manifest="manifest.appcache" xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="/fragments/head :: headFragment"/>

<body>
<div th:replace="/fragments/header :: headerMenuFragment"/>

<div id="content_container">
    <div id="content">
        <h2 th:utext="#{error}"/>

        <div th:if="${problemDetail}">
            <!--				<h3 th:if="${apiError.timestamp}" th:utext="${'Timestamp: ' + #temporals.format(apiError.timestamp, 'yyyy-MM-dd HH:mm.ss.SSS')}" />-->

            <h3 th:if="${problemDetail.status}" th:utext="${'HttpStatus: ' + problemDetail.status}"/>
            <h3 th:if="${problemDetail.title}" th:utext="${'Title: ' + problemDetail.title}"/>
            <div th:if="${problemDetail.detail}">
                <h3>Details:</h3>
                <table border="1">
                    <tr>
                        <td colspan="2" th:utext="${problemDetail.details}"/>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div th:replace="/fragments/footer :: footerFragment"/>
</body>
</html>
