<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="de"
	manifest="manifest.appcache" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head th:replace="/fragments/head :: headFragment" />

<body>
	<div th:replace="/fragments/header :: headerMenuFragment" />

	<div id="content_container">
		<div id="content">
			<h2 th:utext="#{error}" />
						
			<div th:if="${apiError}">
				<h3 th:if="${apiError.timestamp}" th:utext="${'Timestamp: ' + #temporals.format(apiError.timestamp, 'yyyy-MM-dd HH:mm.ss.SSS')}" />
			
				<h3 th:if="${apiError.path}" th:utext="${'Path: ' + apiError.path}" />
				<h3 th:if="${apiError.httpStatus}" th:utext="${'HttpStatus: ' + apiError.httpStatus}" />
				<h3 th:if="${apiError.message}" th:utext="${'Message: ' + apiError.message}" />
				<h3 th:if="${apiError.exceptionMessage}" th:utext="${'ExceptionMessage: ' + apiError.exceptionMessage}" />
				<div th:if="${apiError.details}">
					<h3>Details:</h3>
					<table border="1">
					<tr>
						<th>Key</th>
						<th>Value</th>
					</tr>
					<tr th:each="entry : ${apiError.details}">
						<td th:utext="${entry.key}" />
						<td th:utext="${entry.value}" />
					</tr>
					</table>
				</div>
			
				<!-- h3 th:if="${apiError.stackTrace}" th:utext="${'StackTrace:<br /> ' + apiError.stackTrace}" /-->
				<div th:if="${apiError.stackTrace}">
					<h3>StackTrace:</h3>
					<pre th:text="${apiError.stackTrace}" />
				</div>
			</div>
		</div>
	</div>

	<div th:replace="/fragments/footer :: footerFragment" />
</body>
</html>