# ===================================================================
# COMMON SPRING BOOT PROPERTIES
# https://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html
# ===================================================================

# Is spring-boot-starter-parent the Parent-POM, Resource-Delimiter is @.
info:
    app:
        name: ${project_artifactId}
        description: ${project_description}
        version: ${project_version}

spring:
    main:
        banner-mode: off
    output:
        ansi:
            #enabled: DETECT
            enabled: ALWAYS
            #enabled: NEVER
    h2:
        console:
            enabled: true
    datasource:
        url: jdbc:h2:mem:springDataJpa;;DB_CLOSE_DELAY=0;DB_CLOSE_ON_EXIT=true
        driverClassName: org.h2.Driver
    #        url: jdbc:hsqldb:mem:springDataJpa;shutdown=false
    #        driverClassName: org.hsqldb.jdbc.JDBCDriver
    jackson:
        serialization:
            indent-output: true
    jpa:
        database-platform: org.hibernate.dialect.H2Dialect
        # database-platform: org.hibernate.dialect.HSQLDialect
        open-in-view: false
        #show-sql: true
        hibernate:
            ddl-auto: create-drop
    lifecycle:
        timeout-per-shutdown-phase: 10s
    servlet:
        encoding:
            enabled: true
            charset: UTF-8

server:
    compression:
        enabled: false
    http2:
        enabled: true
    port: ${SERVER_PORT:9090}
    servlet:
        context-path: /${project_artifactId}
        session:
            timeout: 30
    shutdown: "graceful"
    ssl:
        enabled: false
    tomcat:
        threads:
            max: 8
            min-spare: 4

logging:
    # config: classpath:logback.xml
    # file:
    #   name: logs/todo.log
    pattern:
        # yyyy-MM-dd
        # %replace(%-35.-35logger{0}){' ', '.'}
        # Logback
        console: "%date{HH:mm:ss.SSS} - %clr(%5level){} - [%30.-30thread] - %clr(%-40.-40logger{0}){magenta} - %message%n"
        # Log4J
        #console: "%date{HH:mm:ss.SSS} - %clr{%5level}{} - [%30.-30thread] - %clr{%-40.-40logger{0}}{magenta} - %message%n"
    level:
        root: INFO
        org.springframework.web: INFO
        org.hibernate: ERROR
        org.hibernate.SQL: DEBUG
        org.hibernate.orm.jdbc.bind: TRACE
        org.hibernate.orm.jdbc.extract: TRACE
        org.apache.hc.client5: INFO
