# ===================================================================
# COMMON SPRING BOOT PROPERTIES
# https://docs.spring.io/spring-boot/docs/current/reference/html/appendix-application-properties.html
# ===================================================================

spring:
    datasource:
        hikari:
            auto-commit: false
    profiles:
        active: jdbc
    sql:
        init:
            mode: never

management:
    endpoints:
        enabled-by-default: true
        web:
            exposure:
                include: '*'
    endpoint:
        health:
            show-details: ALWAYS

server:
    port: 8080
    shutdown: graceful

---

spring:
    config:
        activate:
            on-profile: test
